body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
button {
  width: 8rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 2rem;
}
.color {
  width: 3rem;
  height: 3rem;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#shadow,
.preview img {
  pointer-events: none;
}
.cls-1,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
  isolation: isolate;
}

.cls-1 {
  opacity: 0.7;
}

.cls-2 {
  fill-rule: evenodd;
}

.cls-3 {
  opacity: 0.7;
}

.cls-4 {
  opacity: 0.7;
}

.cls-5 {
  opacity: 0.7;
}

.cls-6 {
  opacity: 0.7;
}

.cls-7 {
  opacity: 0.7;
}

.cls-8 {
  opacity: 0.7;
}
.stroke {
  stroke: grey;
  stroke-width: 5px;
}
.hide {
  display: none;
}
.preview img {
  position: absolute;
}

.preview {
  position: relative;
}
@media (min-width: 600px) {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  svg,
  .preview img {
    width: 100%;
  }
  .buttom img,
  #selected img {
    width: 3rem;
    margin: 0.5rem;
    margin-top: 0rem;
  }
}
