body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
button {
  width: 8rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  cursor: pointer;
}
.color {
  width: 3rem;
  height: 3rem;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media (min-width: 600px) {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  img {
    max-width: 50vw;
  }
}
